body
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(55, 55, 55);
    background-color: rgb(240, 240, 240);
}
.container
{
    width: 700px;
    margin: 16px auto; /* centers the layout */
}


.logo
{
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 6px;
    text-decoration: none;
}

/* Margin: distance bt 2 elements. Padding: distance inside an element */
nav li
{
    display: inline;
    margin-right: 20px;
}

nav ul
{
    padding-left: 0;
}

/* Set attributes for all the links */
nav a, nav a:visited, nav a:active 
{
    color: black;
    text-decoration: none; /* remove the underline of the link */
    text-transform: uppercase; /* convert to Uppercase  */
}

/* when mouse hover the underline of the link will show and change color */
nav a:hover
{
    color: orange; 
    text-decoration: underline;
}
img
{
    width: 500px;
    height: auto;   
    margin-left: auto;
    margin-right: auto;
}

footer
{
    background-color: black;
    color: aliceblue;
    font-size: 12px;
    padding-top: 16px;
    padding-left: 24px;
    padding-bottom: 16px;
    /* padding: top right bottom left; (another kind of padding defination) */
    padding: 16px 24px 16px 24px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

.button
{
    padding: auto;
    margin: 0px 24px 16px 0px;
    width: 100px;
    background-color: cornflowerblue;
    color: white;
    align-content: ;
}